/node_modules
/public/build
/public/coverage
/public/storage
/public/vendor
/public/mix-manifest.json
/public/css
/public/js
/storage/*.key
/vendor
Homestead.yaml
Homestead.json
.env
.env.backup
*.map
.idea
.phpunit.result.cache
