@tailwind base;
@tailwind components;

@import 'components/alert';
@import 'components/badge';
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/calendar';
@import 'components/form';
@import 'components/input';
@import 'components/link';
@import 'components/table';

[v-cloak] {
    display: none;
}

@tailwind utilities;
