.form {
    @apply max-w-sm;
    @apply mx-auto;
    @apply w-full;
}

.form-row {
    @apply mb-4;

    @screen sm {
        @apply flex;
        @apply items-center;
    }

    &--label {
        @apply inline-block;
        @apply mb-1;

        @screen sm {
            @apply mb-0;
            @apply pr-4;
            @apply text-right;
            @apply w-2/5;
        }
    }

    &--input {
        @screen sm {
            @apply w-3/5;
        }

        .input-text {
            @apply w-full;
        }
    }
}
