.input-text {
    @apply appearance-none;
    @apply border;
    @apply border-gray-400;
    @apply rounded;
    @apply px-2;
    @apply py-1;

    &[type="number"] {
        @apply pr-0;
    }

    &:focus {
        @apply outline-none;
    }
}

.input-radio {
    @apply inline-block;
}

.input-error {
    @apply text-red-700;
    @apply text-sm;
}

.input-addon {
    @apply absolute;
    @apply bg-gray-200;
    @apply border;
    @apply border-gray-400;
    @apply font-semibold;
    @apply py-1;
    @apply text-center;
    @apply top-0;
    @apply w-6;

    @screen sm {
        @apply w-8;
    }
}

.input-addon--start {
    @apply relative;

    .input-addon {
        @apply left-0;
        @apply rounded-l;
    }
    .input-text {
        @apply pl-8;

        @screen sm {
            @apply pl-10;
        }
    }
}

.input-addon--end {
    @apply relative;

    .input-addon {
        @apply right-0;
        @apply rounded-r;
    }
    .input-text {
        @apply pr-8;
    }

    @screen sm {
        @apply pr-10;
    }
}
