@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.navbar {
	margin-bottom: 50px;
}

.heads-up {
	margin-top: 10px;
	margin-bottom: 20px;
	.heads-up-item {
		.media-body {
			padding-left: 10px;
		}
	}
}

table {
	border-collapse: collapse !important;
}

.positive {
	color: green;
}

.negative {
	color: red;
}